/* styles.css (Input CSS file) */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Reem+Kufi:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Lateef:wght@200;300;400;500;600;700;800&family=Noto+Kufi+Arabic:wght@100..900&family=Reem+Kufi:wght@400..700&display=swap');
/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden; /* Hide horizontal overflow */
}
.w-1\/4 {
    width: 24%;
}
.hover\:bg-\[\#343a40\]:hover{
    background-color: #343a40;
}
.bg-\[\#343a40\]{
    background-color: #343a40;
}
.bg-gray{
    background-color: #6c757d;
}
/* SCROLLBAR STYLE */
@layer base {
    /* Custom scrollbar styling */
    .scrollbar-thin::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent; /* Track color */
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background-color: #343a40; /* Thumb color */
        border-radius: 8px;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        background-color: #2d3748; /* Thumb color on hover */
    }
}